.App { 
  display: flex;           
  justify-content: center;
  flex-direction: column; /* ← 縦方向に配置 */
  align-items: center;    /* ← 中央寄せ */ 
  margin-left: 100px;  
    
}

.timer-wrapper {
  margin-bottom: 20px; /* タイマーとボタンの間に余白 */
}

.buttons {
  display: flex;
  gap: 10px;      
  margin-top: 10px;  
}

.button {
  border: 2px solid black; 
  border-radius: 6px;   
}

button:hover {
  border-color: red;       /* ← ホバーしたら赤に変化 */
}