.TimerPage { 
  display: flex;           
  justify-content: center;
  flex-direction: column; /* ← 縦方向に配置 */
  align-items: center;    /* ← 中央寄せ */ 
  margin-left: 100px;  
    
}

.timer-wrapper {
  margin-bottom: 20px; /* タイマーとボタンの間に余白 */
}

.buttons {
  display: flex;
  gap: 10px;      
  margin-top: 10px;  
}

.button {
  margin-top: 10px; 
  border: 2px solid black; 
  border-radius: 6px;   
}

.button:active {
  transform: translateY(2px); /* 押したら下に2px動く */
  box-shadow: 0 2px #666;     /* 影を浅くする */
}