/* 全体を横並び */
.timer-todo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 40px;
}

/* 左のタイマー部分 */
.timer-section {
  text-align: center;
}

/* 右のTodo部分 */
.todo-section {
  width: 300px;
  text-align: left;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.timer-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #004777;
  color: white;
  cursor: pointer;
  margin-top: 10px; 
  border: 1px solid black; 
}

.timer-button:hover {
  background-color: #00325d;
}

.add-button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #004777;
  color: white;
  cursor: pointer;
  margin-top: 10px; 
  border: 1px solid black; 
}

.add-button:hover {
  background-color: #00325d;
}


.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 0;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.login-btn {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #004777;
  color: white;
  cursor: pointer;
  margin-top: 10px; 
  border: 2px solid black; 
}

.login-btn:hover {
  background-color: #00325d; 
}
